__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
*.backup
*.before_*
web.zip
*.xlsx
data/
backend/__pycache__/
backend/*/__pycache__/
*.txt
frontend/menu1.html
frontend/pages/neo_nano1.html
frontend/pages/neo_nano2.html
frontend/pages/neo_nano_real.html
frontend/pages/receipt_old1.html

backend/face_registry/*.jpg

.env
